.background-image {
    background-image: url("/images/backdrop.png");
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    box-sizing: border-box;
    position: fixed;
    display: block;
    left: -10vw;
    top: -5vh;
    width: 120vw;
    height: 120vh;
    z-index: -10;
    user-select: none;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    overflow: hidden;
}

.no-text-highlighting {
    text-decoration:none !important;
}

.twitter-color {
    background-color: rgba(40,40,40,1);
    /*background-color: rgba(22,32,42,1);*/
}

.twitter-color-bright {
    background-color: rgb(52, 52, 52);
    /*background-color: rgba(22,32,42,1);*/
}

.twitter-post {
    border: solid rgb(70,70,70) 1px;
    border-top: none;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: 10px;
    transition: background-color 0.3s linear;
    color: white;
    text-decoration: none;
}

.twitter-post-hoverable:hover {
    cursor: pointer;
    background-color: rgba(80,80,80,1);
    user-select: none;
}

.twitter-side-panel {
    /*background-color: #192734;*/
    border: solid rgb(70,70,70) 1px;
    border-top: none;
    border-radius: 0px;   
}

.twitter-side-element {
    margin-left: 20px;
    margin-right: 20px;
}

.inset-shadow {
    border-bottom: 1px solid #292929;
    box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.1) inset;
}

.outside-shadow {
    box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.5);
}

@media (max-width: 576px) {
    .display-3 {
        margin-top:-60px;
        font-size:48px;
    }
}
